body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin-inline: auto;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button.clear {
  background-color: #f44336;
}

ul {
  padding-left: 20px;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

#formularioDetalhes {
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-x: auto;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  th, td {
    font-size: 0.9rem;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  input, button {
    font-size: 1rem;
  }
}
